# =========================
# INSTANCIA A (ACCESO)
# =========================
# IP publica o privada enrutable de la Instancia B
# Ejemplo (IP privada AWS entre instancias):
# INSTANCE_B_IP=172.31.35.76
INSTANCE_B_IP=54.198.165.149

# Puertos publicados en Instancia B
INSTANCE_B_POSTGRES_PORT=5433
INSTANCE_B_PEDIDOS_PORT=8002
INSTANCE_B_REPARTIDORES_PORT=8003
INSTANCE_B_VENDEDORES_PORT=8004
INSTANCE_B_PRODUCTOS_PORT=8005

# Build del frontend-react (Instancia A)
# Recomendado: usar rutas relativas para consumir via Nginx proxy /api
VITE_API_URL=
VITE_CLIENTES_API_URL=/api/clientes
VITE_PEDIDOS_API_URL=/api/pedidos
VITE_LOCATIONIQ_API_KEY=pk_coloca_tu_key
VITE_GOOGLE_MAPS_API_KEY=
VITE_APP_URL=https://proyecto-taller-web.vercel.app

# =========================
# INSTANCIA B (BACKEND)
# =========================
# IP publica o privada enrutable de la Instancia A
INSTANCE_A_IP=54.198.165.149
INSTANCE_A_CLIENTES_PORT=8001
